.bodyCart {
  margin-top: 10%;
  padding-top: 1%;
  background-color: #ddffbb1f;

  /* width: 75vh; */
  /* box-sizing: content-box; */
}

.form-label{
  font-size: 100%;
  font-weight: bold;
  margin: 2%;
}

/* .table {
  background-color: #aca;
} */

.colorBtn {
  background-color: #6c757d ;
  color: #faf3ce;


}
.totalCart {

  background-color: #c7e9b017;
  font-size: 100%;
  font-weight: bold;
  padding-top: 10px;
  text-align: center;
  border-width: 1px;
  border-style: solid;
  border-color: #090707;
}

.footerDiv {
  background-color:#ddffbb1f;
}

.btn{
  margin: 2%;
}

.styBtn{
  margin-top: 50px;
}

/* .form-label , .item-name {
  font-size: 85%;
  font-weight: bold;
} */
 /* .item-price {
  font-size: 15px;
  font-weight: bold;
} */


/* @media only screen and(max-width800px) {
  #table-resp div{
    width:max-content
  }
} */
/*
.table-responsive {
  display: block;
  overflow-x: auto;
  white-space: wrap;
}
.table-responsive th,
.table-responsive td {
  white-space:pre-wrap;
} */



