<!-- start footer -->
<section class=" mt-3 " style="bottom: 0;;">
  <!-- Footer -->
  <footer class="text-center text-white badge-secondary " style="background-color: #f8f9fa;  bottom: 0px;">
    <!-- Grid container -->
    <div class="container p-4 pb-0">
      <!-- Section: CTA -->
      <section class="">
        <p class="d-flex justify-content-center align-items-center " style="color: #000; ">
          <span class="me-3 ">Register for free</span>
          <button type="button" class="btn btn-outline-light btn-rounded badge-secondary bg-secondary">
            Sign up!
          </button>
        </p>
      </section>
      <!-- Section: CTA -->
    </div>
    <!-- Grid container -->

    <!-- Copyright -->
    <div class="text-center p-3" style=" background-color: rgba(0, 0, 0, 0.2);color: #000;">
      © 2023 Copyright:
      <a class="text-white" style="color: #000; "   href="https://chocolate.com/">chocolate.com </a>
    </div>
    <!-- Copyright -->
  </footer>
  <!-- Footer -->
</section>
<!-- end footer -->
