app-navbar{
  width: 100%;
}

.color-nav{
  /* overflow: hidden;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1; */
  background-color: #A4BC92;
  color: #FFFFFF;

}

a{
  font-size: large;
  margin: 5px;
}

.btnLogOut{
  background-color:#333333 ;
  color: #FFFFFF;

}



