<div class="bodyItem">
  <h2 class="text-center">Add New Items</h2>
  <form #f="ngForm" (ngSubmit)="addNewItem(f)">
    <input
      type="text"
      class="form-control"
      name="name"
      ngModel
      placeholder="Name"
      required
    />
    <input
      type="number"
      class="form-control"
      name="price"
      ngModel
      placeholder="Price"
      required
    />
    <input
      type="text"
      class="form-control"
      ngModel
      name="image"
      placeholder="inter URL image"
      #image
      required
    />
    <br /><br />
    <input
      type="submit"
      value="Add"
      class="btn btnAdd"
      [disabled]="f.invalid"
    />
    <button type="button" class="btn btnRemove">remove Item</button>
  </form>
</div>
