<div class="body container-fluid">
  <div class="row row-cols-1 row-cols-md-3 g-2">
    <div
      class="col-lg-3 col-md-6 col-sm-6 col-xs-12"
      *ngFor="let item of items; let i = index"
    >
      <div
        class="card photo text-center text-centerd-flex justify-content-center align-items-center"
      >
        <img [src]="item.photoUrl" class="card-img-top pic" alt="..." />
        <div class="card-body">
          <h5 class="card-title">{{ item.name | titlecase }}</h5>
          <p class="card-text">{{ item.price | currency }}</p>
          <button
            class="btn colorBtn"
            *ngIf="!item.isInCart"
            (click)="addToCart(item)"
          >
            add to cart
          </button>
          <button *ngIf="item.isInCart" class="btn btn-sm colorBtnAdd">
            <mat-icon>shopping_cart</mat-icon>Added
          </button>

          <!-- <div class="mb-1" *ngIf="add===i">
            <label for="" class="form-label">quantity</label>
            <input type="number"
              class="form-control" placeholder="quantity" name="" id="" min="1" #quantity>
            <button type="button" class="btn btn-primary" (click)="buy(quantity.value)">Buy</button>
            </div> -->
        </div>
      </div>
    </div>
  </div>
</div>
