.body {
  /* background-color: aqua; */
  /* height: 5000px; */
  /* padding-top: 13%; */
  /* margin-top: 120px; */
  /* margin:0; */
  /* box-sizing: border-box; */
  /* z-index: 0; */
}
.my-button {
  /* margin-top: 70px; */
  background-color: #007bff; /* إعطاء اللون الخلفية للزر */
  color: white; /* لون النص */
  border-radius: 50%; /* تحويل الزر إلى دائرة */
  height: 40px; /* إعطاء الارتفاع للزر */
  width: 40px; /* إعطاء العرض للزر */
  border: none; /* إزالة حدود الزر */
  cursor: pointer; /* إعطاء تأثير عند تحويل المؤشر إلى الزر */
}
.my-button-sort{
   /* margin-top: 70px; */
   background-color: #dc3545; /* إعطاء اللون الخلفية للزر */
   color: white; /* لون النص */
   border-radius: 50%; /* تحويل الزر إلى دائرة */
   height: 40px; /* إعطاء الارتفاع للزر */
   width: 40px; /* إعطاء العرض للزر */
   border: none; /* إزالة حدود الزر */
   cursor: pointer; /* إعطاء تأثير عند تحويل المؤشر إلى الزر */

}


.colorBtn {
  background-color: #8b0000;
  color: #ffffff;
}
.colorBtnAdd {
  background-color: #a4bc92;
  color: #ffffff;
}

.fixed-top-right {
  position: fixed;
  top: 70px;
  right: 0;
  /* margin-top: 70px; */
  width: 50%;
  display: flex;
  justify-content:flex-end;
  z-index: 88;
}

.fixed-top-right-sort{
  position: fixed;
  top: 120px;
  right: 0;
  /* margin-top: 70px; */
  width: 50%;
  display: flex;
  justify-content:flex-end;
  z-index: 88;
}

/* .table {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
} */
/* .card-img-top{
  height: 60%;
  width: 70%;
  padding-top: 10%;

} */

.photo {
  overflow: hidden;
  /* margin: 10; */
  /* height: 45%;
  width: 50%; */
  padding-top: 10%;
  /* width: 200px;
  height: 190px;

  padding-bottom: 5px; */
  padding-bottom: 5%;
  background-color: #ddffbb1f;
  box-shadow: 2px 2px 5px #bfbfbf;
  height: 45vh;
}

img {
  transition: transform 0.25s;
  height: 60%;
  width: 70%;
}

.photo:hover img {
  transform: scale(1.1);
}

/*
.mo {
  width: 200px;
  height: 200px;
  overflow: hidden;
  margin: 0 auto;
}

.mo img {
  width: 120%;
  transition: 0.5s all ease-in-out;
}

.mo:hover img {
  transform: scale(1.2);
} */
.card-title {
  font-size: 18px;
  font-weight: bold;
}
.card-text {
  font-size: 18px;
  font-weight: bold;
}
/* .card-body{
  height: 100%;
  width: 100%;
 } */
