<!-- <p Style="margin-top: 300px;"></p> -->

<div class="inline-block row justify-content-evenly sticky-top ">
  <div class="col-6 col-sm-4 ">
    <div class="input-group mb-3">
      <div class="input-group-append">
        <span class="input-group-text bg-transparent border-0"
          ><mat-icon style="color:blue">search</mat-icon></span
        >
      </div>
      <input
      [(ngModel)]="searchText"
        type="text"
        class="form-control rounded-pill pl-4"
        placeholder="Search"
        aria-label="Search"
      />

    </div>
  </div>

  <div class="col-6 col-sm-4 ">
    <div class="input-group mb-3">
      <div class="input-group-append ">
        <span class="input-group-text bg-transparent border-0"
          ><mat-icon style="color:rgb(47, 224, 255)">sort</mat-icon></span
        >
      </div>
      <select
        class="form-select rounded-pill pl-4 pe-0"
        id="inputGroupSelect01"
        #sort
        (change)="sortItems(sort.value)"
      >
        <option selected></option>
        <option value="PRICEDECS">Price:Low to Hight</option>
        <option value="PRICEASC">Price:Hight to Low</option>
        <option value="NAME">NAME</option>
      </select>

    </div>
  </div>
</div>

<div class="container">
  <div class="row row-cols-1 row-cols-md-3 g-2">
    <div
      class="col-lg-3 col-md-6 col-sm-6 col-xs-12"
      *ngFor="let item of items | search : searchText"
    >
      <div
        class="card photo text-center text-centerd-flex justify-content-center align-items-center"
      >
        <img [src]="item.photoUrl" class="card-img-top pic" alt="..." />
        <div class="card-body">
          <h5 class="card-title">{{ item.name | titlecase }}</h5>
          <p class="card-text">{{ item.price | currency }}</p>
          <button
            class="btn colorBtn"
            *ngIf="!item.isInCart"
            (click)="addToCart(item)"
          >
            add to cart
          </button>
          <button *ngIf="item.isInCart" class="btn btn-sm colorBtnAdd">
            <mat-icon>shopping_cart</mat-icon>Added
          </button>

          <!-- <div class="mb-1" *ngIf="add===i">
            <label for="" class="form-label">quantity</label>
            <input type="number"
              class="form-control" placeholder="quantity" name="" id="" min="1" #quantity>
            <button type="button" class="btn btn-primary" (click)="buy(quantity.value)">Buy</button>
            </div> -->
        </div>
      </div>
    </div>
  </div>
</div>
