.body{
/* background-color: aqua; */
/* height: 5000px; */
padding-top:56px;
  /* margin:0; */
  /* box-sizing: border-box; */
/* z-index: 0; */
}
.colorBtn{
  background-color: #707120be;
  color:#faf3ce;
}
.colorBtnAdd{
  background-color: #7071205f;
color:rgba(233, 179, 53, 0.867);
}

.card-img-top{
  height: 200px;
  width: 250px;
}
.card{
  padding: 20px;
  margin: 10px;
  background-color: #83853d22;

}
.photo{
  overflow: hidden;

}

img{
  transition: transform 0.25s;

}

.photo:hover img {
  transform: scale(1.1);
}

/*
.mo {
  width: 200px;
  height: 200px;
  overflow: hidden;
  margin: 0 auto;
}

.mo img {
  width: 120%;
  transition: 0.5s all ease-in-out;
}

.mo:hover img {
  transform: scale(1.2);
} */
 .card-title{
  font-size: 18px;
  font-weight: bold;
 }
 .card-text{
  font-size: 18px;
  font-weight: bold;
 }
