<div class="container body  " style="margin-top: 75px; min-height: 75vh;">
  <h2 class="text-center">Login</h2>
  <!-- <form #f="ngForm" (ngSubmit)="login(f)"> -->
  <form #loginForm="ngForm">
    <!-- Use a 'name' so that ngModule knows which element to control  -->
    <input
      ngModel
      name="email"
      #email="ngModel"
      type="email"
      class="form-control my-2"
      placeholder="Email"
      required
      email=""

    />
    <div
      class="alert alert-danger"
      *ngIf="email.touched && email.errors?.['required']"
    >
      Email is required
    </div>
    <div
      class="alert alert-danger"
      *ngIf="email.touched && email.errors?.['email']"
    >
      your input doesn't match email format
    </div>
    <input
      ngModel
      name="password"
      #password="ngModel"
      type="password"
      class="form-control my-2"
      placeholder="Password"
      required
      minlength="8"

    />
    <div
      class="alert alert-danger"
      *ngIf="password.touched && password.errors?.['required']"
    >
      password is required
    </div>
    <div
      class="alert alert-danger"
      *ngIf="password.touched && password.errors?.['minlength']"
    >
      password should be 8+ characters
    </div>

    <button
      #isClicklog
      class="btn btn-primary my-1"
      [disabled]="loginForm.invalid"
      (click)="Login('token', '123456789')"
    >
      Login
    </button>
  </form>
</div>
