@import "~bootstrap-icons/font/bootstrap-icons.css";
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital@1&display=swap');
body, html {

  font-family: 'Ubuntu', sans-serif;
}
.route-container{
  position: relative;
}

.route-container > *{
  position: absolute;
  top:0;
  left: 0;
  right: 0;
}

body{
  overflow-x:hidden ;
  background-color: #FCFCFC  ;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
